<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>archive</title>
    {% load staticfiles%}
    <link rel="icon" href={% static "img/favicon.ico" %}/>
    <link type="text/css" rel="stylesheet" href={% static "css/forbase1.css"%}>
    <script type="text/javascript" src="/static/js/time.js"></script>
</head>
<body onload="startime()">


<div class="centop">
    <div class="home" id="left">
        <a href="/home">home</a>
{#        {% for article in articles %}#}
{#    <a href="{% url 'blog:article_page' article.id %}">{{ article.title }}</a>#}
{#    <br/>#}
{#        {% endfor %}#}
    </div>
    <div class="c1" id="c1">
        GriCode
    </div>
</div>

<div class="timemid">
    <div id="time">
    </div>
</div>

{% block mainbody %}
    <p>original</p>
{% endblock %}

</body>
</html>